#!KAMAILIO

debug=2
log_stderror=yes
log_facility=LOG_LOCAL0
check_via=no      # disable strict VIA checking for NAT scenarios
sip_warning=no

# Ports
listen=udp:acme.operador:5060 advertise acme.operador:5060
# listen=tcp:acme.operador:5060 advertise acme.operador:5060
alias="acme.operador"

####### Modules Section #######
loadmodule "tm.so"
loadmodule "sl.so"
loadmodule "pv.so"
loadmodule "ctl.so"
loadmodule "maxfwd.so"
loadmodule "rr.so"
loadmodule "xlog.so"
loadmodule "textops.so"

loadmodule "usrloc.so"
loadmodule "registrar.so"

loadmodule "htable.so"
loadmodule "app_python3.so"

####### Module Parameters #######
modparam("ctl", "binrpc", "unix:/var/run/kamailio/kamailio_ctl")
# Enable standard loose routing behaviour
modparam("rr", "enable_full_lr", 1)
# Check if the direction is strictly downstream
#modparam("rr", "append_fromtag", 0)
modparam("usrloc", "db_mode", 0)
modparam("usrloc", "matching_mode", 0)

# Define a hash table named "loc"
# size=10 implies 2^4 entries (16 slots)
#modparam("htable", "htable", "aor_table=>size=4;cols="aor,status")
modparam("htable", "htable", "aor=>size=8;cols='aor,state,targets,status'")
modparam("htable", "htable", "kpi=>size=8;cols='total_activations,active_users_now,max_list_size'")

modparam("app_python3", "script_name", "/etc/kamailio/redial_service.py")

####### Routing Logic #######
route {
    # Sanity check
    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483","Too Many Hops");
        exit;
    }
    
    # Hand off all logic to Python service
    # python_exec returns true if Python returns 1, false if 0.
    if(!python_exec("sip_route")) {
        xlog("L_ERR", "Error in Python script execution\n");
        sl_send_reply("500", "Internal Server Error");
        exit;
    }
}

# Triggered if Python does t_on_failure("app_failure_route")
failure_route[app_failure_route] {
    if(!python_exec("app_failure_route")) {
        xlog("L_ERR", "Error in Python failure route\n");
    }
}

# Initialise usrloc table
route[force_usrloc_init] {
    save("location");
}
