#!KAMAILIO

debug=2
log_stderror=yes
log_facility=LOG_LOCAL0

####### Modules Section #######
loadmodule "tm.so"
loadmodule "sl.so"
loadmodule "pv.so"
loadmodule "ctl.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "app_python3.so"
loadmodule "maxfwd.so"
loadmodule "rr.so"
loadmodule "xlog.so"

####### Module Parameters #######
modparam("ctl", "binrpc", "unix:/var/run/kamailio/kamailio_ctl")

# --- USRLOC CONFIGURATION ---
modparam("usrloc", "db_mode", 0)           # Memory only
modparam("usrloc", "preload", "location")  # REQUIRED for db_mode 0 to create the table
# ----------------------------

modparam("app_python3", "script_name", "/etc/kamailio/redial_service.py")

####### Routing Logic #######
route {
    # Sanity Check: Max forwards
    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483","Too Many Hops");
        exit;
    }

    # Pass logic to Python
    if(!python_exec("sip_route")) {
        sl_send_reply("500", "Internal Server Error");
        exit;
    }
}

failure_route[app_failure_route] {
    python_exec("app_failure_route");
}
